.home,
.about,
.skills,
.contact{
  background:hsl(66, 65%, 31%);
  margin-top:20px;
  /* border-radius:10px;
  border:2px solid #f59e0b; */
  padding:30px;
}
/* .about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-top: 20px;
  }
  
  .about-text {
    flex: 2;
  }
  
  .about-image {
    flex: 1;
    display: flex;
    justify-content: flex-start;;
  }
  
  .about-image img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    display: block; */
    

.memen{
  align-items: center;
}
.email-btn {
  background-color: #f59e0b;
  color: black;
  width: 120px;
  height: 35px;
  border: none;
  border-radius: 8px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.email-btn:hover {
  background-color: #facc15;
  transform: scale(1.05);
}
.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin-top: 20px;
}

.about-text {
  flex: 2;
}

.about-image {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.about-image img {
  width: 500px;
  height: 600px;
  border-radius: 50%;
  display: block;
  object-fit: cover;
}


/* MOBILE RESPONSIVE */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .about-text {
    width: 100%;
  }

  .about-image {
    justify-content: center;
    width: 100%;
  }

  .about-image img {
    width: 250px;
    height: 250px;
  }
}